header {
    font-size: 28px;
    font-family: "Tahoma";
}

.container {
    font-family: "Tahoma";
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: 3px solid red;
}

.image {
    border-radius: 999rem;
}